<h2>{{ light.name }}</h2>
{{ light.state }}
<button mat-mini-fab color="primary" (click)="ToggleLight(light.id)">
  <mat-icon>menu</mat-icon>
</button>
<div [hidden]=editMode>
  <label>Name: <input matInput #editName value={{light.name}}></label>
  <button mat-raised-button color="primary" (click)="RenameLight(light.id, editName.value)">Save</button>
  <button mat-raised-button (click)="editMode=!editMode">Cancel</button>
</div>
<button mat-raised-button [hidden]=!editMode (click)="editMode=!editMode">Edit name</button>
